#includes all conferences and which users are going. conference links to conference show pages
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <ul>
        <li><%= link_to "LogOut", logout_path %></li>
    </ul>

<h1>Admin Index</h1>

</body>
</html>