<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <ul>    
        <li><%= link_to "LogOut", logout_path %></li>
        <li><%= link_to "Admin Conference Index", super_index_path %></li>
    </ul>


</body>
</html>